/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background: #f2f2f2;
    padding: 40px;
    color: #111;
}

/* HEADER */
.header {
    border-left: 6px solid #111;
    padding-left: 15px;
    margin-bottom: 25px;
}

.header h1 {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

/* SUB NAV */
.subnav {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
}

.subnav a {
    text-decoration: none;
    font-weight: 600;
    color: #111;
}

.subnav .active {
    text-decoration: underline;
}

/* RINGKASAN */
.summary {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 40px;
}

.sum-box {
    padding: 25px;
    border-radius: 12px;
    background: white;
    box-shadow: 0px 4px 0px #111;
}

.sum-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sum-box p {
    font-size: 28px;
    font-weight: bold;
}

.red { border-left: 6px solid #f44336; }
.yellow { border-left: 6px solid #ff9800; }
.green { border-left: 6px solid #4caf50; }

/* REKAPAN TABEL */
.rekap-container {
    max-width: 900px;
    margin: auto;
}

.rekap-container h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.rekap-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 0px #111;
}

.rekap-table th {
    background: #111;
    color: white;
    padding: 12px;
    text-align: left;
}

.rekap-table td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

/* STATUS */
.st-belum {
    background: #ff5555;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.st-progres {
    background: #ffcc00;
    color: #111;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.st-selesai {
    background: #4caf50;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}
